:root {
    --primary: #150053;
    --secondary: #6fd19e;
}

.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black !important;
}

.success-bg {
    background-color: #6fd19e !important;
    color: white !important;
    padding: 10px;
    border-radius: 3px;
}
.error-bg {
    background-color: #ff4d4d !important;
    color: white !important;
    padding: 10px;
    border-radius: 3px;
}